<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>会員登録</title>
    </head>
    <body>
        <h1>会員登録</h1>
        <form th:action="@{/register}" method="post">
            <div>
                <label>ユーザー名: <input type="text" name="username" /></label>
            </div>
            <div>
                <label>メールアドレス: <input type="text" name="email" /></label>
            </div>
            <div>
                <label>パスワード: <input type="password" name="password" /></label>
            </div>
            <button type="submit">登録する</button>
        </form>
    </body>
</html>